POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/devops_dashboard
# Alternatively, set the individual values below:
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=devops_dashboard
# POSTGRES_SSL=false
